form {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding-bottom: 20px;
}

form input,
select {
  width: 100%;
  padding: 20px;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 16px;
}

form select:focus,
input:focus {
  outline: none;
}

form div {
  border-bottom: 1px solid lightgray;
  /* margin-bottom: 5px; */
}

form .search {
  margin-top: 20px;
  background-color: var(--button-color);
  border-radius: 50px;
  overflow: hidden;
  font-size: 16px;
}
